# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dennis\Google Drive\TU Eindhoven\Master\Jaar 2\Kwartiel 2\2IMN15 - Internet of Things\2imn15-diagrams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
